@import "../../assets/css/Main.scss";

.services-wrapper{
    text-align: center;
    margin: 100px;
}
.services{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    i{
        font-size: 50px;
        color:$accentColor;
    }
    a{
        text-decoration: none;
    }
}

.service{
    border:1px solid gray;
    border-radius: 5px;
    padding: 50px;
    &:hover{
        transform: scale(1.1);
       transition-duration:0.2s;
       transition-timing-function: ease-in-out;
      }
}
