@import "../../assets/css/Main.css";

.hero-wrapper{
    display: flex;
    justify-content: space-between;
}
.hero-image img{
    width: 100%;
    height: 100%;
}

.cta{
    width: 50%;
    margin-top: 100px;
    margin-left: 100px;
}

.cta p, .cta h1{
    text-align: left;
}
