@import "../../assets/css/Main.scss";

.skills{
    margin-left: 100px;
    display: grid;
    grid-gap:50px;
    grid-template-columns: 1fr 1fr 1fr;
}
.skill img{
    width: 70px;
    height: 60px;
}

.skill p{
    background-color:#e0dac7;
    color:$text-color;
    padding: 10px;
    width: 20%;
    font-weight: bold;
}
