@import "../../assets/css/Main.css";

.logo{
  height: 80px;
  width: 190px;
  margin-top: 20px;
}
.navbar{
  margin-left: 90px;
  display: flex;
  justify-content: space-between;
}
ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;

  }
  
  li {
    float: left;
    a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
  }

#basic-button {
  color:#333 !important;
}
  
